{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}


<!-- About Section -->

   <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <!-- Three columns of text below the carousel -->

      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <div class="row featurette">
          <h2 class="featurette-heading">Why we built this website?</h2>
          <p class="lead">Our story begins in Doha, Qatar. We are expat professionals who love music and tend to miss live music events of our favorite artists, venues and events.</p>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
          <h2 class="featurette-heading">What services do we provide?</h2>
          <p class="lead">BandFollow is a free service offering notification of live music events near you via a subscription model. Mobile-friendly and simple user interface, this site provides the user the ability to add artists, venues and events manually. Once it is approved by an admin, any BandFollow member can subscribe for notification.</p>
      </div>
      <hr class="featurette-divider">
      <div class="row featurette">
          <h2 class="featurette-heading">Who are we?</h2>
          <p class="lead">We are a group of Northwestern School of Professional Studies (SPS) graduate students working to earn more than an "A" on our Capstone project.</p>
      </div>
      <div class="row">
        <div class="col-lg-3  ">
          <img class="img-circle rounded-circle border" src="https://www.qatar.northwestern.edu/images/people/mctigue-tames.jpg" alt="McTiguer" width="110" height="160">
          <h5 >Tames McTigue</h5>
          <h6 >Lead Backend Developer</h6>
          <p>aka McTiguer</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-circle rounded-circle border" src="https://www.qatar.northwestern.edu/images/people/ravishankar-rajiv.jpg" alt="Raj-Mahal" width="110" height="160">
          <h5 >Rajiv Ravishankar</h5>
          <h6 >Lead Frontend Developer</h6>
          <p>aka Raj Mahal</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-circle rounded-circle border" src="https://www.qatar.northwestern.edu/images/people/bowman-lea.jpg" alt="lea" width="110" height="160">
          <h5 >lea bowman</h5>
          <h6 >Lead Database Admin</h6>
          <p>aka bow-manager</p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3">
          <img class="img-circle rounded-circle border" src="https://www.qatar.northwestern.edu/images/people/sotelo-alex.jpg" alt="Juan-Solo" width="110" height="160">
          <h5 >Alex Sotelo</h5>
          <h6 >Project Manager</h6>
          <p>aka Juan Solo</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
{% endblock %}