{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}


<!-- About Section -->
<div class="w3-container w3-container_about" id="about">
  <h3 class="w3-center">ABOUT THE PROJECT</h3>
  <p class="w3-center w3-large">Key features of our project</p>
  <div class="w3-row-padding w3-center w3-row-padding_margin">
    <div class="w3-quarter">
      <i class="fa fa-music w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Dedication</p>
      <p>BandFollow is a free service dedicated provide notification of live music events near you via a subscription model.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Passion</p>
      <p>Our story begins in Doha, Qatar. We are expat professionals who love music and tend to miss live music events of our favorite artists, genres and venues.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-graduation-cap w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Masters</p>
      <p>We are a group of Northwestern School of Professional Studies (SPS) graduate students working to earn more than an "A" on our Capstone project.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-group w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Community Driven</p>
      <p>Mobile-friendly and simple user interface, this site provides the user the ability to add artists, venues and events manually. Once it is approved by an admin, any BandFollow member can subscribe for notification.</</p>
    </div>
  </div>
</div>

<!-- Team Section -->
<div class="w3-container w3-container_team" id="team">
  <h3 class="w3-center">THE TEAM</h3>
  <p class="w3-center w3-large">The ones who are killing this project.</p>
  <div class="w3-row-padding w3-grayscale w3-row-padding_margin">
    <div class="w3-col l3 m6 w3-margin-bottom" align="center">
      <div class="w3-card">
          <a href="https://www.qatar.northwestern.edu/about/people/profiles/mctigue-tames.html">
              <img src="https://www.qatar.northwestern.edu/images/people/mctigue-tames.jpg" alt="McTiguer" class="egg w3-hover-opacity w3-border"></a>
        <div class="w3-container">
          <h3>Tames McTigue</h3>
          <p class="w3-opacity">Lead Developer</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum.</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom" align="center">
      <div class="w3-card">
          <a href="https://www.qatar.northwestern.edu/about/people/profiles/ravishankar-rajiv.html">
        <img src="https://www.qatar.northwestern.edu/images/people/ravishankar-rajiv.jpg" alt="Raj Mahal" class="egg w3-circle w3-hover-opacity w3-border"></a>
        <div class="w3-container">
          <h3>Rajiv Ravishankar</h3>
          <p class="w3-opacity">UX Designer/Unit Tester</p>
          <p>Only aims to burn 600 calories per day.</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom" align="center">
      <div class="w3-card">
          <a href="https://www.qatar.northwestern.edu/about/people/profiles/bowman-lea.html">
              <img src="https://www.qatar.northwestern.edu/images/people/bowman-lea.jpg" alt="bowman" class="egg w3-circle w3-hover-opacity w3-border"></a>
        <div class="w3-container">
          <h3>lea bowman</h3>
          <p class="w3-opacity">Database Administrator</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum.</p>
        </div>
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom" align="center">
      <div class="w3-card">
          <a href="https://www.qatar.northwestern.edu/about/people/profiles/sotelo-alex.html">
              <img src="https://www.qatar.northwestern.edu/images/people/sotelo-alex.jpg" alt="Sotelo" class="egg w3-circle w3-hover-opacity w3-border"></a>
        <div class="w3-container">
          <h3>Alex Sotelo</h3>
          <p class="w3-opacity">Project Manager</p>
          <p>Phasellus eget enim eu lectus faucibus vestibulum.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Promo Section "Statistics" -->
<div class="w3-container w3-row w3-center w3-dark-grey w3-padding-64">
  <div class="w3-quarter">
    <span class="w3-xxlarge">100%</span>
    <br>Group Assignment Average
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">1</span>
    <br>Floods Survived in 2018
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">4+</span>
    <br>Happy Music Fans
  </div>
  <div class="w3-quarter">
    <span class="w3-xxlarge">10+</span>
    <br>Project Meetings
  </div>
</div>


<!-- Skills Section -->
<div class="w3-container w3-light-grey w3-padding-64">
  <div class="w3-row-padding">
    <div class="w3-col m6">
      <h3>Our Skills.</h3>
        <p>Great communication and collaboration using calendar reminders, version control system visa vis GitHub, </br> efficient document sharing on Box, and delicious lunches using the Talabat app.</p>
      <p>IT professionals first, graduate students second.
      </p>
    </div>
    <div class="w3-col m6">
      <p class="w3-wide"><i class="fa fa-code w3-margin-right"></i>Web Design</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:40%">40%</div>
      </div>
      <p class="w3-wide"><i class="fa fa-bug w3-margin-right"></i>Debugging</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:70%">70%</div>
      </div>
      <p class="w3-wide"><i class="fa fa-cutlery w3-margin-right"></i>Ready for lunch</p>
      <div class="w3-grey">
        <div class="w3-container w3-dark-grey w3-center" style="width:100%">100%</div>
      </div>
    </div>
  </div>
</div>
{% endblock %}