{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}BandFollow - Add an Event{% endblock %}
{% block extra_head_tags %}
    <link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
    <script src="{% static 'js/flatpickr.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
    {% crispy form %}
    </div>
    <script type="text/javascript">
    flatpickr("#id_date_and_time", {enableTime: true, dateFormat: "Y-m-d h:i K"})
    </script>
{% endblock %}