{% extends 'base.html' %}
{% load static %}

{% block title %}BandFollow - {{ artist.name }} {% endblock %}
{% block extra_head_tags %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <p><a href="{% url 'artists' %}" id="id_artist_list">Go back to artist list</a></p>

        <div class="row">
            <div class="col"><h1>{{ artist.name }}</h1></div>
            <div class="col">
                <form id="id_set_favorite" action="{% url 'set_favorite_artist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ artist.id }}" name="artist_id">
                    {% if artist in user.favorite_artists.all %}
                        <input type="hidden" value="false" name="is_favorite">
                        <button class="btn btn-primary" type="submit">Remove from Favorite Artists</button>
                    {% else %}
                        <input type="hidden" value="true" name="is_favorite">
                        <button class="btn btn-primary" type="submit">Add to Favorite Artists</button>
                    {% endif %}
                </form>
            </div>
        </div>

        {% if artist.website %}
            <p>Website: <a href="{{ artist.website }}" target="_blank">{{ artist.website }}</a></p>
        {% endif %}



        <div class="container">
            <h2>Upcoming Events</h2>
            <table id="id_event_table" class="table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Venue</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></td>
                        <td>{{ event.date_and_time }}</td>
                        <td><a href="{{ event.venue.get_absolute_url }}">{{ event.venue }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}