{% extends 'base.html' %}
{% load static %}

{% block title %}BandFollow - {{ artist.name }} {% endblock %}
{% block extra_head_tags %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <p><a href="{% url 'artists' %}" id="id_artist_list">Go back to artist list</a></p>
        {% if artist in user.favorite_artists.all %}
            <a id="id_artist_name"><a href="{% url '' %}"><span class="fas fa-star"></span></a><h1>{{ artist.name }}</h1>
        {% else %}
            <h1 id="id_artist_name"><span class="far fa-star"></span> {{ artist.name }}</h1>
        {% endif %}

        {% if artist.website %}
            <p>Website: <a href="{{ artist.website }}" target="_blank">{{ artist.website }}</a></p>
        {% endif %}

        <div class="container">
            <h2>Upcoming Events</h2>
            <table id="id_event_table" class="table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Venue</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></td>
                        <td>{{ event.date_and_time }}</td>
                        <td><a href="{{ event.venue.get_absolute_url }}">{{ event.venue }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% block extra_scripts %}
        <script src="{% static 'js/favorite.js' %}"></script>
    {% endblock %}
{% endblock %}