{% extends 'base.html' %}

{% block title %}BandFollow{% endblock %}

{% block content %}
    <!-- Marketing messaging and featurettes
        ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-circle"
                         src="https://imgur.com/E10nDg9.jpg"
                         alt="Sign Up" width="140" height="auto">
                    <h2>Sign up</h2>
                    <p>Join the BandFollow site to get notified about when your favorite artists are playing!</p>
                    <p><a class="btn btn-default" href="{% url 'create_account' %}" role="button">View details &raquo;</a>
                    </p>
                </div><!-- /.carousel-item -->
                <div class="carousel-item">
                    <img class="d-block"
                         src="https://imgur.com/QAGcZx0.jpg"
                         alt="Artist image" width="140" height="auto">
                    <h2>Add an artist</h2>
                    <p>Add your favorite artists and get notified when they play near you!</p>
                    <p><a class="btn btn-default" href="{% url 'add_artist' %}" role="button">View details &raquo;</a>
                    </p>
                </div><!-- /.carousel-item -->
                <div class="carousel-item">
                    <img class="img-circle"
                         src="https://imgur.com/Cy9qS8m.jpg"
                         alt="Venue image" width="140" height="auto">
                    <h2>Add a venue</h2>
                    <p>Add your favorite local venues to stay upto date!</p>
                    <p><a class="btn btn-default" href="{% url 'add_venue' %}" role="button">View details &raquo;</a>
                    </p>
                </div><!-- /.carousel-item -->
                <div class="carousel-item">
                    <img class="img-circle"
                         src="https://imgur.com/OhI1xuw.jpg"
                         alt="Event image" width="140" height="auto">
                    <h2>Add an event</h2>
                    <p>Add upcoming events you know about for the community to see!</p>
                    <p><a class="btn btn-default" href="{% url 'add_event' %}" role="button">View details &raquo;</a>
                    </p>
                </div><!-- /.carousel-item -->
            </div>
        </div><!-- /.row -->
        <!-- START THE FEATURETTES -->
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">How does BandFollow work?<span
                        class="text-muted">  Only get notified when it's your favorite!</span></h2>
                <p class="lead">Find or add your favorite artists and venues.  When events
                    happen in your favorite venues with your favorite artists, get an email
                    notification.  </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto">
                <img title="Concert" width="300" height="210" src="https://s3.amazonaws.com/bandfollow/concert.jpg">

            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">Add artists and events<span
                        class="text-muted">  See for yourself.</span></h2>
                <p class="lead">The more you build up our lists, the more you can make use of the notifications .
                    Help us help you know about events of interest.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto">
                <img title="Notification" width="300" height="210"
                     src="https://s3.amazonaws.com/bandfollow/notification.jpg">
            </div>
        </div>
        <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
{% endblock %}