{% extends 'base.html' %}
{% load static %}
{% block extra_head_tags %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
{% endblock %}

{% block title %}BandFollow - {{ venue.name }} {% endblock %}

{% block content %}
    <div class="container">
        <p><a href="{% url 'venues' %}" id="id_artist_list">Go back to venue list</a></p>

        <div class="row">
            <div class="col"><h1>{{ venue.name }}</h1></div>
            <div class="col">
                <form id="id_set_favorite" action="{% url 'set_favorite_venue' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{ venue.id }}" name="venue_id">
                    {% if venue in user.favorite_venues.all %}
                        <input type="hidden" value="false" name="is_favorite">
                        <button class="btn btn-primary" type="submit">Remove from Favorite Venues</button>
                    {% else %}
                        <input type="hidden" value="true" name="is_favorite">
                        <button class="btn btn-primary" type="submit">Add to Favorite Venues</button>
                    {% endif %}
                </form>
            </div>
        </div>

        {% if venue.website %}
            <p>Website: <a href="{{ venue.website }}" target="_blank">{{ venue.website }}</a></p>
        {% endif %}

        <div class="container">
            <h2>Upcoming Events</h2>
            <table id="id_event_table" class="table">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                    <th scope="col">Artists</th>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></td>
                        <td>{{ event.date_and_time }}</td>
                        <td>{{ event.artist_list }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% block extra_scripts %}
        <script src="{% static 'js/favorite.js' %}"></script>
    {% endblock %}
{% endblock %}