body {
    padding-top: 12rem;
}
.page-header {
    background-color: #ffec32;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #800080;
    font-size: 36pt;
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: "Raleway", 'sans-serif';
}

#id_separator {
    padding: 1px;
    background-color: white;
}
