{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block extra_head_tags %}
    {% endblock %}
</head>
<body>
    <div class="page-header">
        <h1><a href="{% url 'home' %}">BandFollow</a></h1>
    </div>

    <!--This is the navbar. Edit this to change global nav bar for bandfollow.-->
    <div class="navbar-wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" href="{% url 'home' %}">Home</a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'add_artist' %}">Artists <span class="sr-only">(current)</span></a>
                  </li>
                  <li>
                    <a class="nav-link" href="{% url 'add_venue' %}">Venues <span class="sr-only">(current)</span></a>
                  </li>
                  <li>
                    <a class="nav-link" href="{% url 'add_event' %}">Events <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      More
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% if user.is_authenticated %}
                          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                          <a class="dropdown-item" href="admin">Admin</a>
                      {% else %}
                          <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                          <a class="dropdown-item" href="create_account">Sign Up</a>
                      {% endif %}
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="{% url 'about' %}">About</a>
                      {% if user.is_moderator %}
                      <a class="dropdown-item" href="#">Moderator</a>
                      {% endif %}
                    </div>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link disabled" href="#" id="id_username_link">{{ user.username }}</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>
    </div>
{% block content %}
{% endblock %}

    <!-- Footer -->
    <footer class="container">
        <div class="social">
        <a href="https://www.facebook.com/bandfollow18">Facebook</a>
            <a href="https://twitter.com/bandfollow1">Twitter</a>
            <a href="https://www.instagram.com/bandfollow/">Instagram</a>
        </div>
        <div class="float-right">© 2018 BandFollow, Inc. </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous">
    </script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>